body,
html {
    height: 100%;
}

.bg {
    /* The image used */
    background-image: url("./assets/images/banner.jpg");
    /* Full height */
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    /* Preserve aspet ratio */
    min-width: 100%;
    min-height: 100%;
}

.site-name{
    margin: 20px 0;
}

.footer-bottom {
    float: right;
    padding: 20px;
    height: 100%;
    display: flex;
    align-items: flex-end;
    shape-outside: inset(calc(100% - 100px) 0 0);
}